<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" 
xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
      <settings>
        <setting name="TestPatchName" value="TestResultAaron" />
        <setting name="Xdt.Test" value="None">
            <patch:attribute name="value" value="DEV" customenvironment:require="DEV" />
            <patch:attribute name="value" value="QA" customenvironment:require="QA" />
        </setting>
      </settings>
    </sitecore>
</configuration>
