<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="XMCloud">
    <pipelines>
      <owin.identityProviders>
        <processor resolve="true" type="Sitecore.Support.RandomUsernames.Auth0, Sitecore.Support.RandomUsernames" patch:instead="processor[@type='Sitecore.XmCloud.FederatedAuthentication.Auth.Pipelines.IdentityProviders.Auth0, Sitecore.XmCloud.FederatedAuthentication.Auth']" />
      </owin.identityProviders>
    </pipelines>
  
    <federatedAuthentication>
      <identityProvidersPerSites>
        <mapEntry name="graphql/ssc">
          <externalUserBuilder type="Sitecore.Support.RandomUsernames.CreateUniqueUser, Sitecore.Support.RandomUsernames" resolve="true" patch:instead="externalUserBuilder[@type='Sitecore.XmCloud.FederatedAuthentication.Auth.Pipelines.CreateUniqueUser, Sitecore.XmCloud.FederatedAuthentication.Auth']">
          </externalUserBuilder>
        </mapEntry>
       <mapEntry name="shell/launchpad">
          <externalUserBuilder type="Sitecore.Support.RandomUsernames.CreateUniqueUser, Sitecore.Support.RandomUsernames" resolve="true" patch:instead="externalUserBuilder[@type='Sitecore.XmCloud.FederatedAuthentication.Auth.Pipelines.CreateUniqueUser, Sitecore.XmCloud.FederatedAuthentication.Auth']">
          </externalUserBuilder>
        </mapEntry>
      </identityProvidersPerSites>
    </federatedAuthentication>
  
  </sitecore>
</configuration>